{% extends 'layout.html' %}

{% block content %}
<div class="container">
<form class="form-horizontal" action="/login" method="POST" name="login_user_form">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
	{{ login_user_form.csrf_token }}
    <input id="email" name="email" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password">Password</label>
  <div class="controls">
    <input id="password" name="password" type="password" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="remember"></label>
  <div class="controls">
    <label class="checkbox inline" for="remember">
      <input type="checkbox" name="remember" id="remember" value="y">
      Remember Me
    </label>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="login"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Login</button>
  </div>
</div>

</fieldset>
</form>
</div>
{% endblock %}