<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>csv-me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">

	
  </head>

  <body>

	{% block content %}{% endblock %}
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){ 
	    $("#myTab a").click(function(e){
	    	e.preventDefault();
	    	$(this).tab('show');
	    });
	});
	</script>
	

  </body>
</html>