{% extends 'layout.html' %}

{% block content %}
<div class="container">

<h2>{{object_meta.title}}</h2>


<form action="/bookmark" method="post">
	<input type="hidden" name="object_id" value="{{ object_meta.id }}">
	<input type="hidden" name="accession" value="{{ accession }}">
	<button class="btn btn-large btn-block btn-primary" type="submit">Bookmark me</button>
	<a class="btn btn-large btn-block" href="/">Try another search</a>
</form>

<p>{% for image in images %}
	
	{% if loop.first %}<img src="{{ image.b.url }}" class="img-polaroid" />{% endif %}

{% endfor %}</p>


<div class="well">
<p>Accession Number: {{ accession }}</p>
<p>Object ID: <a href="http://collection.cooperhewitt.org/objects/{{ object_meta.id }}">{{ object_meta.id }}</a></p>
</div>



</div> <!-- /container -->

{% endblock %}